.idea/
/.gradle
/config/
dependencies/
/deployments
build/
bin/
/application.properties
/server.properties
ora_ds.properties
wmq_ds.properties
db2_ds.properties
commands.cli
gear_config_files.xml
*service.xml
routefile.yaml
buildSrc/.gradle
buildSrc/build
*.war
*.ear
*.jar
buildSrc/out